auth_enabled: false

server:
  http_listen_port: 3100
  log_level: info

ingester:
  chunk_idle_period: 3m
  chunk_retain_period: 1m
  max_chunk_age: 1h
  chunk_encoding: snappy
  wal:
    enabled: false
  lifecycler:
    ring:
      kvstore:
        store: inmemory

limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16
  allow_structured_metadata: false

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb:
    directory: /loki/boltdb
  filesystem:
    directory: /loki/chunks

querier:
  max_concurrent: 20

query_scheduler:
  max_outstanding_requests_per_tenant: 100

distributor:
  ring:
    kvstore:
      store: inmemory

ingester_client:
  grpc_client_config:
    max_recv_msg_size: 67108864
